name = "chatbox-mau"
main = "src/index.js"
compatibility_date = "2023-10-30"

[env.development]
vars = { ENVIRONMENT = "development" }

[observability]
enabled = false
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = true
persist = true
head_sampling_rate = 1